#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

header > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.card {
  font-size: 5rem;
  height: 150px;
  width: 150px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
