#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

header > div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

#cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  height: 100px;
  width: 100px;
  font-size: 5rem;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
}
